@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.box {
  background-image: url('https://media4.giphy.com/media/TIz6Lbz2PPpwGbHceR/giphy.gif?cid=ecf05e47x1o2sdubi9rlm7jby901qavj35m6wjmnm63y51bp&rid=giphy.gif&ct=g');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  transition: 0.8s ease;
  width: 125px;
}

.box::after {
  content: '';
  background-color: #f6e58d;
  height: 100%;
  position: absolute;
  right: -15px;
  transform: skewY(45deg);
  top: 8px;
  width: 15px;
}

.box::before {
  content: '';
  background-color: #f9ca24;
  bottom: -15px;
  height: 15px;
  left: 8px;
  position: absolute;
  right: -15px;
  transform: skewX(45deg);
  width: 100%;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: 500px;
  transition: 0.8s ease;
  width: 500px;
}

.boxes.big {
  height: 600px;
  width: 600px;
}

.boxes.big .box {
  transform: rotate(360deg);
}

.magic {
  background-color: #f9ca24;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', 'sans-serif';
  font-size: 12px 20px;
  letter-spacing: 1px;
  position: fixed;
  top: 20px;
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}
